<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            [google-maps width='100%' lat=1.2938601 lng=103.8497706 zoom=20 scrollwheel=true panControl=true iconurl='/absolute/path/to/marker/icon.png']
<strong>{{ page.header.officename }}</strong> </br>
{{ page.header.addresslineone }} </br>
{{ page.header.addresslinetwo }}
[/google-maps]
            </div>
            <div class="col-md-6">
                {% include "forms/form.html.twig" %}
            </div>
        </div>
    </div>
</section>